.contact_title {
  background: linear-gradient(
      45deg,
      rgba(31, 76, 198, 0.826241322) 0%,
      rgba(34, 193, 195, 0.7542191876750701) 100%
    ),
    url('../../../assets/images/contact/contact.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title_heading{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}