
.display-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

.products-header {
  display: flex;
  justify-content: space-between;
}

select {
  padding: 4px 0;
}

/* responsive */
@media only screen and (max-width:1024px) {
  .display-products {
    grid-template-columns: repeat(1, 1fr);
  }
}