.nameTitle {
  transition: 0.1s;
}
.basicInfo {
  background: #000000a3;
  visibility: hidden;
  transition: 0.2s;
}
.modalContainer input:focus,
textarea:focus,
select:focus {
  outline-style: dotted;
}
hr {
  border-style: dashed;
}
.employeeContainer:hover .basicInfo {
  visibility: visible;
  top: 0;
}

.employeeContainer:hover .nameTitle {
  visibility: hidden;
}
/* Employee Details */
.employeeAllDetails {
  display: grid;
  grid-template-columns: 30% 60%;
  gap: 1rem;
}


.ddadfA {
  
  background: #FCFCFD;
  box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
  padding: 9px 10px;
  font-size: 18px;
  border-radius: 6px;
  color: #36395a;
  transition: box-shadow 0.15s ease,transform 0.15s ease;
  display: flex;
  align-items: center;
  font-weight: bold;
}
.ddadfA:hover {
    box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
    transform: translateY(-2px);
}
.ddadfA:active{
    box-shadow: inset 0px 3px 7px #d6d6e7;
    transform: translateY(2px);
}



@media screen and (max-width: 992px) {
  .employeeAllDetails {
    grid-template-columns: 1fr;
    column-gap: 3rem;
  }
}
