.nameTitle {
  transition: 0.1s;
}
.basicInfo {
  background: #000000a3;

  visibility: hidden;
  transition: 0.2s;
}
.employeeContainer:hover .basicInfo {
  visibility: visible;
  top: 0;
}
.employeeContainer:hover .nameTitle {
  visibility: hidden;
}
