.jobHunterInfoContainer {
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 2px 3px 0px #5c5959;
  padding: 15px;
  position: relative;
}
.jobHunterContainer {
  margin-top: 10rem;
}
.hunterImg {
  margin-top: -30%;
}
.hunterImg img {
  background: white;
}
.hunterInfo {
  padding: 25px 0px;
}

.hunterInfo h4 {
  font-size: 25;
  font-size: 25px;
  font-weight: bold;
}
.roundedCircle {
  box-shadow: -2px -2px 0px 2px #ff1762;
}
.goBtn {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #895af6;
  padding: 0px;
  width: 0;
  border-radius: 70px 0px 5px 0px;
  color: white;
  visibility: hidden;
  transition: 0.1s;
}
.jobHunterInfoContainer:hover .goBtn {
  visibility: visible;
  bottom: 0;
  right: 0;
  width: 30%;
  padding: 20px 0px;
}
.jobHunterInfoContainer:hover .goBtn i {
  display: block;
  margin-bottom: -5px;
  transition-delay: 0.1s;
}
.goBtn i {
  font-size: 25px;
  display: none;
  margin-left: 10px;
  transition: 0.2s;
}
