.jobHunterInfoContainer {
  text-align: center;
  border-radius: 10px;

  box-shadow: 0px 2px 3px 0px #5c5959;
}
.jobHunterContainer{
    margin-top: 10rem;
}
.hunterImg {
  margin-top: -25%;
}
.hunterImg img {
  background: white;
}
.hunterInfo {
  padding: 25px 0px;
}

.hunterInfo h4 {
  font-size: 25;
  font-size: 25px;
  font-weight: bold;
}
.roundedCircle{
box-shadow: -3px -2px 0px 2px #ff1762;
}
    