.roundedCircle {
  box-shadow: -2px -2px 0px 1px #c1aeae40;
}
.darkRoundedCircle {
  box-shadow: -2px -2px 0px 1px #828df833;
}
.hunterImg img {
  object-fit: contain;
}
/* #7c707061 */

.goBtn {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #895af6;
  padding: 0px;
  width: 0;
  border-radius: 70px 0px 5px 0px;
  color: white;
  visibility: hidden;
  transition: 0.1s;
}
.jobHunterInfoContainer:hover .goBtn {
  visibility: visible;
  bottom: 0;
  right: 0;
  width: 30%;
  padding: 20px 0px;
}
.SeekerIcon {
  font-size: 25px;
  display: none;
  margin-left: 40px;
  transition: 0.2s;
}
.jobHunterInfoContainer:hover .SeekerIcon {
  display: block;
  margin-bottom: -5px;
  transition-delay: 0.1s;
}
