button {
  margin: 0 28px 0 0;
  border-top: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  padding: 18px;
  font-weight: 500;
  text-align: start;
  width: 70%;
  border-radius: 0 6px 6px 0;
}

button.active {
  background-color: #8b5cf6;
  color: white;
}

/* responsive */
@media only screen and (min-width:1440px) {
  button {
    padding: 28px;
  }
}