button{
  margin: 0 28px;
  border: 1px solid black;
  padding: 14px;
  font-weight: 500;
  width: 100%;
  text-align: start;
  border-radius: 6px;
}
button:hover {
  background-color: #8b5cf6;
  color: white;
}