.bSectionTitle {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  color: #717171;
}

.branding-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap:2em;
}
.branding-section {
  background: #f3f3f3;
  padding: 60px 0px;
}
.brandingImg img {
    height: 100px;
    object-fit: cover;
    width: 100%;
}