.bSectionTitle {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  color: #717171;
  margin-bottom: 3rem;
}

.branding-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  row-gap: 4em;
  column-gap: 2em;
}
.branding-section {
  background: #f3f3f3;
  padding: 80px 0px;
}
.brandingImg img {
  height: 100px;
  object-fit: cover;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #e1e1ff;
  transition: all 0.2s;
}
.brandingImg img:hover {
  box-shadow: 0px 5px 6px 0px #262525;
  margin-top: -10px;
}
