.blogContainer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 5em;
}

.thirdBlog {
  grid-column: 1/-1;
  display: grid;
  row-gap: 2em;
  column-gap: 1em;
  grid-template-columns: repeat(3, 1fr);
}

.firstBlog {
  grid-column: 2/10;
}
.firstBlog img {
  width: 100%;
}

.secondBlog {
  grid-column: 10/13;
  grid-row: 1/2;
}
