@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

/* For Scroll bar Customization */

html {
  --scrollbarBG: #e8eaf6;
  --thumbBG: #2a2a57;
}

/* hide number increase decrease button */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

body::-webkit-scrollbar {
  width: 13px;
}

body {
  width: 100%;
  height: 100vh;
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

body::-webkit-scrollbar-track {
  --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  background: var(--scrollbarBG);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

.comment-scroll {
  width: 100%;
  scrollbar-width: thin;
  scrollbar-color: var(--thumb) var(--scrollbar);
}

.comment-scroll::-webkit-scrollbar-track {
  --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  background: var(--scrollbar);
}

.comment-scroll::-webkit-scrollbar-thumb {
  background-color: var(--thumb);
  border-radius: 6px;
  border: 3px solid var(--scrollbar);
}
