.opening_positions{
  transition: all .2s ease-in-out;
  padding: 10px;
}
.opening_positions:hover{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border-radius: 10px;
}