.taskBtn {
  background: #10105a;
  box-shadow: -1px 2px 0px 1px #57b7fb;
  font-size: 12px;
  transition: box-shadow 0.15s ease, transform 0.15s ease;
  padding: 6px 14px;
  font-weight: 500;
  color: #fff;
  border-radius: 10% 61% 60% 10%;
  text-align: center;
}

.taskBtn:hover {
  box-shadow: 0px 4px 8px rgb(45 35 66 / 40%),
    0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
  transform: translateY(-2px);
}
.taskBtn:active {
  box-shadow: inset 0px 3px 7px #d6d6e7;
  transform: translateY(2px);
}
.seeTask {
  border-radius: 10% 70% 60% 10%;
  padding: 6px 8px;
  margin-left: 2rem;
  cursor: pointer;
  box-shadow: -1px 2px 0px 1px #08e738;
}
