
.editBtn {
  margin-left: 90%;
}
.checkbox {
  position: absolute;
  z-index: 999;
}
.employeInfo {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 90%;
  width: 88%;
  visibility: hidden;
  background: #ffffff;
  transition: 0.2s;
  transform: scaleY(0);
  transition-timing-function: ease-in-out;
}
/* .fontInfo {
  font-size: 12px;
  padding: 5px 0px;
} */
.empoyeeContainer:hover .employeInfo {
  visibility: visible;
  transform: scaleY(1);
}
